---
title: "Contact"
class: "icon contact"
description: "Pour toute question sur Lyon végan, contactez-moi."
menu: "contact"
sous-menu: "contact"
---
{% include head.html %}
{% include header.html %}
<section id="contact">
  <div class="container">
    <div class="six offset-by-three columns">
      <form action="/contact/merci.html"
            name="contact"
            method="POST"
            netlify-honeypot="bot-field"
            data-netlify="true">
        <p class="hidden">
          <label>Ne remplissez pas ce champ&nbsp: <input name="bot-field" /></label>
        </p>
        <label>
          <span class="required">Votre email</span>
          <input class="label-body" type="email" name="_replyto" required>
        </label>
        <p><small>Votre email servira uniquement à vous répondre, il sera conservé au maximum 36 mois après la fin de nos échanges.</small></p>
        <label>
          <span class="required">Votre message</span>
          <textarea class="label-body" name="message" required></textarea>
        </label>
        <button class="primary" type="submit">Envoyer</button>
        <p>
          <small>
            <em>* Champs obligatoires</em>
          </small>
        </p>
      </form>
    </div>
  </div>
</section>
{% include foot.html %}
