<!DOCTYPE html>
<html lang="fr-fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		{% if page.noindex %}<meta name="robots" content="noindex">{% endif %}
		<title>{% if page.title %}{{ page.title | strip_html }} ‧ {% endif %}{{ site.title }}</title>
		<meta name="description" content="{% if page.description %}{{ page.description | remove: '*' }}{% endif %}">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/dist/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/dist/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/dist/favicon/favicon-16x16.png">
		<link rel="manifest" href="{{ site.baseurl }}/dist/favicon/site.webmanifest">
		<link rel="shortcut icon" href="{{ site.baseurl }}/dist/favicon/favicon.ico">
		<link rel="preload" href="{{ site.baseurl }}/dist/css/lato-400-i.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="{{ site.baseurl }}/dist/css/lato-400.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="{{ site.baseurl }}/dist/css/lato-700.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="{{ site.baseurl }}/dist/css/lato-900-i.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="{{ site.baseurl }}/dist/css/lato-900.woff2" as="font" type="font/woff2" crossorigin>
		<link href="{{ site.baseurl }}/dist/css/styles.css" rel="stylesheet" type="text/css">
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js" async></script>
	</head>
	<body>
		<div class="hidden">
			<ul>
				<li><a href="#menu">Aller au menu</a></li>
				<li><a href="#content">Aller au contenu</a></li>
			</ul>
		</div>
