<header{% if page.index %} class="index"{% endif %}>
	{% if page.img %}
		<img class="img-spot-header" src="{{ page.img }}" alt="{{ page.alt-img }}">
	{% endif %}
	<div class="container">
		<nav id="menu" class="menu row" aria-label="Navigation générale" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
			<div class="four columns menu-left">
				<ul class="list-inline">
					<li class="nav-logo" itemprop="name">
						<a title="Page d’accueil" itemprop="url" href="{{ site.baseurl }}/">
							<svg class="nav-logo-svg" viewBox="100 100 800 800" width="32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<linearGradient id="a" gradientUnits="userSpaceOnUse" x1="505.817" x2="505.817" y1="799.1" y2="306.445">
									<stop offset="0" stop-color="#068bbf"/>
									<stop offset="1" stop-color="#21c0ff"/>
								</linearGradient>
								<path d="m731.845 761.454v-246.829h-21.002l-211.325-211.325-209.86 209.86h-21.002v306.432l268.633 45.408z" fill="url(#a)"/>
								<path d="m500 900c-220.913 0-400-179.087-400-400s179.087-400 400-400 400 179.087 400 400-179.087 400-400 400zm-36.641-82.074-211.779-519.655c-44.755 55.047-71.58 125.255-71.58 201.729 0 164.34 123.885 299.747 283.359 317.926zm75.047-.207c158.623-18.974 281.594-153.986 281.594-317.719 0-75.835-26.38-145.509-70.463-200.346zm-36.517-89.414c2.512-12.003 5.233-23.587 8.164-34.752 2.931-11.166 6.35-21.494 10.258-30.985l167.957-421.353c-52.829-38.499-117.896-61.215-188.268-61.215-69.938 0-134.635 22.437-187.287 60.504l169.078 422.064c3.908 9.491 7.466 19.819 10.676 30.985 3.21 11.165 6.351 22.749 9.422 34.752z" fill="#fff208"/>
							</svg>
						<span class="nav-logo-name">Lyon végan</span></a>
					</li>
				</ul>
			</div>
			<div class="eight columns menu-right">
				<ul class="list-inline">
					<li class="{% if page.menu == 'spots' %} active{% endif %}" itemprop="name"><a itemprop="url" href="{{ site.baseurl }}/spots/">Tous les spots</a></li>
					<li class="{% if page.menu == 'contribuer' %} active{% endif %}" itemprop="name"><a itemprop="url" href="{{ site.baseurl }}/contribuer/">Ajouter un spot</a></li>
					<li class="{% if page.menu == 'contact' %} active{% endif %}" itemprop="name"><a itemprop="url" href="{{ site.baseurl }}/contact/">Contact</a></li>
				</ul>
			</div>
		</nav>
	</div>
	{% if page.index %}
		<div class="hero index">
			<div class="container">
				<h1 class="icon logo">{{ page.big-title }}</h1>
				<ul class="list-inline sous-menu button-list">
					<li><a class="button primary" href="#favoris">Nos favoris</a></li>
					<li><a class="button older" href="{{ site.baseurl }}/spots/">Tous les spots</a></li>
				</ul>
			</div>
		</div>
	{% else %}
	<div class="hero {% if page.sous-menu %} {{ page.sous-menu }}{% endif %}">
		<div class="container">
			<div class="logo-container">
				{% if page.layout == "spot" %}
					<img class="img-spot" src="{{ page.img-logo }}" alt="{{ page.alt-img-logo }}">
				{% endif %}
				<h1{% if page.class %} class="{{ page.class }}"{% endif %}>{% if page.big-title %}{{ page.big-title }}{% else %}{{ page.title }}{% endif %}{% if page.ville %}<br><span class="city">{{ page.ville }}</span>{% endif %}</h1>
			</div>
		</div>
		{% if page.subtitle %}
			<div class="row text-center">
				<div class="six offset-by-three columns">
					<p>{{ page.subtitle }}</p>
				</div>
			</div>
		{% endif %}
		{% if page.sous-menu == "spots" %}
			<ul class="list-inline sous-menu button-list">
				<li><a class="button primary" href="#lyon">À Lyon</a></li>
				<!-- <li><a class="button" href="#alentours">Aux alentours</a></li> -->
			</ul>
		{% elsif page.layout == "spot" %}
			<ul class="list-inline sous-menu">
				<li><a href="#description">Description</a></li>
				<li><a href="#contact">Contact</a></li>
				<li><a href="#adresse">Adresse</a></li>
				<li><a href="#infos">Infos</a></li>
			</ul>
		{% endif %}
	</div>
	{% endif %}
</header>
