{% assign spot = include.spot %}
<div class="spot {% if include.list %}spot-list {% else %}card {% endif %}six columns" itemscope itemtype="https://schema.org/LocalBusiness">
  {% if include.list %}
    <link itemprop="image" href="{{ include.spot.img }}">
  {% else %}
    <a class="spot-link" href="{{ spot.url }}">
      <img class="spot-fond" itemprop="image" src="{{ include.spot.img }}" alt="{{ include.spot.alt-img }}"{% if include.lazy %} loading="lazy"{% endif %}>
      <img class="spot-logo img-circle" src="{{ include.spot.img-logo }}" alt="Logo de {{ page.title | strip_html }}">
    </a>
  {% endif %}
  <div class="list-container">
    <link itemprop="additionalType"
          {% if include.spot.type-class == "restaurant" %}
            href="https://schema.org/Restaurant"
          {% elsif include.spot.type-class == "bar" %}
            href="https://schema.org/BarOrPub"
          {% elsif include.spot.type-class == "commerce" %}
            href="https://schema.org/HealthAndBeautyBusiness"
          {% elsif include.spot.type-class == "cafe" %}
            href="https://schema.org/CafeOrCoffeeShop"
          {% elsif include.spot.type == "Boulangerie" %}
            href="https://schema.org/Bakery"
          {% endif %}/>
    <h3 class="text-center" itemprop="name"><a href="{{ spot.url }}">{{ include.spot.title }}</a></h3>
    <ul class="no-style text">
      <li class="icon {{ include.spot.type-class }}"><strong>{{ include.spot.type }}</strong></li>
      <li class="icon no-icon" itemprop="servesCuisine">{{ include.spot.vegan | markdownify | remove: "<p>" | remove: "</p>" }}</li>
    </ul>
    <ul class="no-style">
      {% assign auj = "now" | date: "%u" | minus: 1 %}
      {% for horaires in include.spot.horaires | offset: auj | limit: 1 %}
        {% if horaires[1] == "Fermé" %}
          <li class="icon horaires red-text"><strong>Fermé le {{ horaires[0] }}</strong></li>
          <li class="icon no-icon"><a class="red-text older" href="{{ site.baseurl }}/spots/{{ spot.spotid }}.html#infos">Voir les horaires</a></li>
        {% else %}
          <li class="icon horaires green-text"><strong>Ouvert le {{ horaires[0] }}</strong></li>
          <li class="icon no-icon green-text">{{ horaires[1] }}</li>
        {% endif %}
      {% endfor %}
    </ul>
    <p class="icon adresse" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress"><a  title="Afficher la carte"
          class="older"
          href="{{ site.baseurl }}/spots/{{ spot.spotid }}.html#adresse"
          ><strong itemprop="streetAddress">{{ include.spot.adresse }}</strong>
          <br><span class="icon no-icon"><span itemprop="postalCode">{{ include.spot.code-postal }}</span> <span itemprop="addressLocality">{{ include.spot.ville }}</span></span></a>
    </p>
    <p class="text-center">
      <a title="Appeler {{ include.spot.title }}" class="button primary" href="tel:{{ include.spot.tel-int }}" itemprop="telephone">{{ include.spot.tel }}</a>
    </p>
    {% if include.spot.description %}
      <p class="two-lines" itemprop="description">
        {{ include.spot.description | markdownify | remove: "<p>" | remove: "</p>" }}
      </p>
    {% endif %}
    <p class="text-center">
      <a class="older" href="{{ spot.url }}">En savoir plus sur <strong>{{ include.spot.title }}</strong></a>
    </p>
  </div>
</div>
