
// Blockquote
// ––––––––––––––––––––––––––––––––––––––––––––––––––

/* Quotes */
blockquote {
  @include background-color($alternate-color, $alternate-dark-color);
  border-left: $half-spacing solid;
  @include border-color($alternate-dark-color, $alternate-color);
  border-radius: 0 2px 2px 0;
  @include color(black, white);
  margin: $spacing;
  padding-left: $half-spacing;
  font-size: inherit;
  font-style: italic;

  @media (max-width: $breakpoint-s-1) {
    margin: 0;
  }
}

blockquote.quote {
  font-family: $serif-family;
  font-size: 200%;
  font-style: italic;
}

.quote:not(.part)::before { content: "« "; }
.quote:not(.part)::after  { content: " »"; }
.quote-footer::before     { content: "— "; }
