
// Button
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  line-height: 1;
  min-height: 3.6rem;
  font-weight: 700;
  display: inline-block;
  padding: $half-spacing 2rem;
  margin: 0;
  max-width: 100%;
  @include background-color(white, black);
  @include color($link-color, $light-link-color);
  border: 2px solid;
  @include border-color($link-color, $light-link-color);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 5rem;
  cursor: pointer;
  box-sizing: border-box;
  @include transition(all, .2s, ease);

  &:hover, &:focus {
    text-decoration: none;
    @include color ($light-link-color, $background-color);
    @include border-color($light-link-color, $background-color);
    outline: 0;
  }

  &.next::before {
    content: "‹ Suiv. : ";
    @media (min-width: $breakpoint-s) {
      content: "‹ Suivant : ";
    }
    @media (min-width: $breakpoint-m) {
      content: "‹ Billet suivant : ";
    }
  }
  &.previous::before {
    content: "Préc. : ";
    @media (min-width: $breakpoint-s) {
      content: "Précédent : ";
    }
    @media (min-width: $breakpoint-m) {
      content: "Billet précédent : ";
    }
  }
  &.next::before, &.previous::before { font-weight: bold; }
  &.text-overflow { overflow: hidden; }
}

.button.xs {
  font-size: 1.4rem;
  font-variant: normal;
  padding: .2rem .5rem;
  letter-spacing: 0;
  text-transform: capitalize;
  @include border-color(white, black);
  &:hover {
    @include border-color($alternate-color, $alternate-dark-color);
    @include color(black, white);
  }
}

.button.primary,
button.primary,
input[type="submit"].primary,
input[type="reset"].primary,
input[type="button"].primary {
  @include background-color($link-color, $light-link-color);
  @include border-color($link-color, $light-link-color);
  @include color($background-color, $text-color);

  &:hover, &:focus {
    @include background-color($light-link-color, $background-color);
    @include border-color($light-link-color, $background-color);
    @include color(white, black);
  }
}

.list-inline.button-list {
  li:not(:first-child) {
    margin-left: -$spacing;
    &::before { content: none; }
    .button { @include box-shadow(0 0 0 2px $background-color); }
    @media (prefers-color-scheme: dark) {
      .button { @include box-shadow(0 0 0 2px $text-color); }
    }
  }
}
