
// Code
// ––––––––––––––––––––––––––––––––––––––––––––––––––

/* Code */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  @include background-color($alternate-color, $alternate-dark-color);
  border: 1px solid $gray-color;
  border-radius: 4px;
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}
