
// Link
// ––––––––––––––––––––––––––––––––––––––––––––––––––

a {
  @include color ($link-color, $light-link-color);
  text-decoration: none;
  &:after { @include transition(padding, .2s, ease); }

  &:hover {
    @include color ($link-color, $light-link-color);
    text-decoration: underline;
  }
}

a.title-link {
  @include color($text-color, $background-color);
  &:hover {
    @include color ($link-color, $light-link-color);
    text-decoration: none;
  }
}

.newer:not(.icon)::before {
  content: "‹";
  padding-right: .5rem;
  font-weight: bold;
  font-style: normal;
}

.older:not(.icon)::after  {
  content: "›";
  padding-left: .5rem;
  font-weight: bold;
  font-style: normal;
}

.add:not(.icon)::before {
  content: "+";
  padding-right: .5rem;
  font-weight: bold;
  font-style: normal;
}
