
// Typography
// ––––––––––––––––––––––––––––––––––––––––––––––––––
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url('lato-400.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold'), local('Lato-Bold'), url('lato-700.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Lato Black'), local('Lato-Black'), url('lato-900.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Italic'), local('Lato-Italic'), url('lato-400-i.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local('Lato Black Italic'), local('Lato-BlackItalic'), url('lato-900-i.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

strong {
  font-weight: 900;
}

.lead {
  font-size: 1.8rem;
  @media (min-width: $breakpoint-s) {
    font-size: 2rem;
  }
}

.lead .not-lead {
  font-size: 1.6rem;
  @media (min-width: $breakpoint-s) {
    font-size: 1.6rem;
  }
}

.text-overflow {
  @include text-overflow(ellipsis);
  white-space: nowrap;
  hyphens: auto;
}

.text-left        { text-align: left; }
.text-right       { text-align: right; }
.text-center      { text-align: center; }
.text-capitalize  { text-transform: capitalize; }
.text-uppercase   { text-transform: uppercase; }

.two-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.gray-text { color: $gray-color; }
.white-text { @include color($background-color, $text-color); }
.light-gray-text { @include color($alternate-color, $alternate-dark-color); }
.alt-text { @include color($alt-color, $light-alt-color);}
.green-text { @include color($green-color, $light-green-color); }
.red-text { @include color($red-color, $light-red-color); }
.red-bg {
  @include background-color($alternate-color, $alternate-dark-color);
  padding: $spacing;
  border-radius: $spacing;
  border: 2px solid $gray-color;
  font-size: .9em;
  h6, p { margin: 0;}
}

h1, h2 {
  font-weight: 400;
  letter-spacing: -.1rem;
  &.spot-title {
    font-weight: 900;
    span { font-weight: 400; }
  }
}

.main-title, h2, h3, h4, h5, h6 {
  font-family: $main-family;
  a {
    &.cool-title {
      position: relative;
      background: #48B2C7;
      background: -webkit-linear-gradient(to right, #48B2C7 10%, #C7B934 90%);
      background: -moz-linear-gradient(to right, #48B2C7 10%, #C7B934 90%);
      background: linear-gradient(to right, #48B2C7 10%, #C7B934 90%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      &:hover {
        text-decoration: none;
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          background-color: $gray-color;
          background: linear-gradient(to right, $light-link-color 10%, $light-alt-color 90%);
          width: 100%;
          height: 2px;
          border-radius: 1px;
          left: 0;
        }
      }
    }
  }
}

h3 {
  font-weight: 900;
  font-style: italic;
}

h1 { font-size:   4rem; line-height: 1.2; margin-top: 0; }
h2 {
  font-size: 3.5rem;
  line-height: 1.25;
  padding: $spacing 0;
}
h3 { font-size:   3rem; line-height: 1.3; }
h4 { font-size: 2.5rem; line-height: 1.35; color: $gray-color; }
h5 { font-size:   2rem; line-height: 1.5; }
h6 { font-size: 1.6rem; line-height: 1.6; }

@media (min-width: $breakpoint-m) {
  h1 { font-size: 5.5rem; }
  h2 { font-size: 4.5rem; }
  h3 { font-size: 3.5rem; }
}

.printy {
  @media (min-width: $breakpoint-m) {
    display: block;
    @include columns(2);
    @include column-gap($double-spacing);
    @include column-rule($alternate-color);
  }
  @media (min-width: $breakpoint-l) {
    @include columns(3);
  }
  @media (prefers-color-scheme: dark) {
    @include column-rule($alternate-dark-color);
  }
}
