
// Utility
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

.u-pull-right { float: right; }
.u-pull-left  { float: left; }

.hidden { display: none; }

@media (max-width: $breakpoint-xs-1) {
  .hidden-xs { display: none; }
}

/* Self Clearing Goodness */
header::after,
.container::after,
.row::after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}
