
// VIDEO
// ––––––––––––––––––––––––––––––––––––––––––––––––––

/* VIDEO RESPONSIVE */
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;

  .embed-responsive-item, iframe, embed, object, video, img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  img { @include object-fit(cover); }
}

.embed-responsive-16by9 { padding-bottom: 56.25%; }
.embed-responsive-4by3  { padding-bottom: 75%; }
