---
title: "Ajouter un spot"
class: "icon edit"
description: "Ajoutez ou modifiez un restaurant, un bar, un café ou un commerce vegan-friendly à Chambéry et ses alentours."
menu: "contribuer"
sous-menu: "contribuer"
---
{% include head.html %}
{% include header.html %}

<section id="contribuer">
  <div class="container">
    <p>
      Pour ajouter ou modifier un spot&nbsp;:
    </p>
    <ul>
      <li>vous pouvez effectuer des demandes directement sur <a class="button" href="https://gitlab.com/odevillardi/lyon-vegan">le dépôt GitLab du projet</a>&nbsp;;</li>
      <li>vous pouvez compléter le formulaire ci-dessous&nbsp;:</li>
    </ul>
    <form action="/contribuer/merci.html"
          name="contribuer"
          method="POST"
          netlify-honeypot="bot-field"
          data-netlify="true">
      <p class="hidden">
        <label>Ne remplissez pas ce champ&nbsp: <input name="bot-field" /></label>
      </p>
      <div class="row">
        <div class="six columns">
          <h4 class="icon user">Vous</h4>
          <label>
            <span class="facultatif">Votre nom</span>
            <input class="label-body" type="text" name="username">
          </label>
          <label>
            <span class="facultatif">Votre email</span>
            <input class="label-body" type="email" name="_replyto">
          </label>
          <p><small>Votre nom et votre email serviront uniquement à vous répondre, ils seront conservés au maximum 36 mois après la fin de nos échanges.</small></p>
        </div>
        <div class="six columns">
          <h4 class="icon spot">Le spot</h4>
          <label>
            <span class="required">Nom du spot</span>
            <input class="label-body" type="text" name="name" required>
          </label>
          <label>
            <span class="required">Adresse</span>
            <input class="label-body" type="text" name="adresse" required>
          </label>
          <label>
            <span class="required">Code postal et ville</span>
            <input class="label-body" type="text" name="ville" value="69000 Lyon" required>
          </label>
          <label>
            <span class="required">Téléphone</span>
            <input class="label-body" type="tel" name="tel" required>
          </label>
          <label>
            <span class="required">Type de spot</span>
            <select class="label-body" name="type">
              <option value="restaurant">Restaurant</option>
              <option value="bar">Bar</option>
              <option value="cafe">Café</option>
              <option value="commerce">Divers commerce</option>
            </select>
          </label>
          <label>
            <span class="required">Offre vegan</span>
            <select class="label-body" name="vegan">
              <option value="full">100% vegan</option>
              <option value="low">Options véganes</option>
            </select>
          </label>
          <label>
            <span class="facultatif">Site Internet</span>
            <input class="label-body" type="url" name="site" placeholder="https://…">
          </label>
          <label>
            <span class="facultatif">Page Facebook</span>
            <input class="label-body" type="url" name="facebook" placeholder="https://…">
          </label>
          <label>
            <span class="facultatif">Page Instagram</span>
            <input class="label-body" type="url" name="instagram" placeholder="https://…">
          </label>
          <label>
            <span class="facultatif">Ajouter un message</span>
            <textarea class="label-body" name="message"></textarea>
          </label>
          <button class="primary" type="submit">Envoyer</button>
          <p>
            <small>
              <em>* Champs obligatoires</em>
            </small>
          </p>
          <p>
            <small>
              Les données “Le spot” de ce formulaire servent à ajouter / modifier
              les informations des spots sur ce site, elles sont traitées manuellement et sont accessibles sur <a href="https://gitlab.com/odevillardi/lyon-vegan">le dépôt GitLab du projet</a>.<br>
            </small>
          </p>
        </div>
      </div>
    </form>
  </div>
</section>

{% include foot.html %}
